@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --dark-green: #2E473B;
    --medium-green: #4F6F60;
    --light-green: #7D9B8F;
    --white-green: #AEBFB3;
    --black: #000000;
}

/* General styles */
body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
    color: var(--dark-green);
    background-color: var(--white-green);
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    color: var(--dark-green);
    background-color: var(--white-green);
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}

header h1, header h2 {
    margin: 0;
}

header h2 {
    font-style: italic;
    font-size: 1rem;
}

header p {
    margin-top: 1rem;
    font-size: 1rem;
}

.profile-picture {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-right: 1rem;
    border: 4px solid var(--dark-green);
}

.tab {
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    background-color: var(--white-green);
    width: auto;
}

.tab-button {
    padding: 0.2rem 0.6rem;
    margin: 0 0.2rem;
    cursor: pointer;
    border: 2px solid var(--medium-green);
    background-color: var(--medium-green);
    color: var(--white-green);
    text-align: center;
    border-radius: 12px 12px 0 0;
    display: inline-block;
    width: auto;
    font-weight: bold;
    max-width: 120px;
}

.tab-button:hover,
.tab-button.active {
    background-color: var(--medium-green);
    color: var(--dark-green);
    position: relative;
}

.tabcontent {
    padding: 1rem;
    background-color: var(--medium-green);
    color: var(--white-green);
    margin: 0 10rem;
    border-radius: 10px;
}

.tab-item {
    background-color: var(--light-green);
    color: var(--dark-green);
    margin: 10px 0;
    padding: 1px 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tab-item:hover {
    box-shadow: inset 0 0 5px var(--black);
}

.tab-item h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
}

.tab-item h5 {
    font-size: 1rem;
    font-style: italic;
    margin: 0;
}

.tab-item p {
    font-size: 0.9rem;
}

.tab-item ul {
    margin-top: 0.2rem;
    list-style-type: square;
    padding-left: 30px;
    font-size: 0.9rem;
}

.project-icon {
    font-size: 24px;
}

footer {
    color: var(--dark-green);
    background-color: var(--white-green);
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
}

a {
    color: var(--dark-green);
}

.social-icons {
    margin-top: 1rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-icons a {
    color: var(--dark-green);
    margin-right: 1rem;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    color: var(--medium-green);
}

form p {
    color: red
}

/* Media query for mobile devices */
@media only screen and (max-width: 800px) {
    .tabcontent{
        width: 85%;
        margin: 0 auto;
        display: block;
        box-sizing: border-box;
    }
    

    header {
        flex-direction: column;
        text-align: center;
    }

    .profile-picture {
        margin: 1rem 0;
        width: 55%;
        height: auto;
    }

    nav li {
        display: block;
        margin: 0.5rem 0;
    }

    nav li:last-child {
        margin-bottom: 1rem;
    }
}

.code {
    padding: 0.25em 0.5em;
    font-size: 70%;
    color: var(--white-green);
    background-color: var(--dark-green);
    border-radius: 4px;
    font-family: Menlo, Monaco, "Courier New", monospace;
}

h6 {
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  margin: 0
}
